* {
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

body {
    font-family: Tahoma; background: #eeeeee ;
}

.wrapper {
    min-width: 970px;
    max-width: 1280px;
    margin: 0 auto;
}
/******** Header | Start ********/
.header-main {
    background: url(images/header-bg-main.jpg) left top repeat-x;
    height: 181px;
}

.header {
    background: url(images/header-bg-road.png) left top no-repeat;
    height: 181px;
    position: relative;
}

.ico {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 35px 0 0 19px;
}

.ico li {
    margin: 0 0 20px 0 ;
}

.header-form {
    background: #eeeeee;
    overflow: hidden;
    padding: 10px 0 10px 30px;
    width: 290px;
    height: 25px;
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.header-search {
    background: #ffffff;
    border: 1px solid #a5acb2;
    height: 14px;
    margin: 0 12px 0 0;
    width: 134px;
    padding: 2px;
}

.header-form input {
    float: left;
}

.header-menu {
    list-style: none;
    float: right;
    margin: 90px 0 0 0;
    border-bottom: 3px solid #93b0c8;
    padding: 0 70px 3px 0;
}

.header-menu li {
    float: left;
    font: bold 15px "Trebuchet MS";
    color: #ebf0f5;
    padding: 0 10px;
    border-left: 1px solid #ebf0f5;
    line-height: 1em;
    text-transform: uppercase;
}

.header-menu li:first-child {
    border-left: none;
}

.header-menu li a {
    color: #ebf0f5;
    text-decoration: none;
}

.header-menu li a:hover {
    text-decoration: underline;
}
/******** Header | END ********/

/******** Content | Start ********/
.content-under {
    background: #ffffff url(images/content-bg-under.png) top repeat-x;
}

.content-main {
    width: 100%;
    border-collapse: collapse;
    background: url(images/content-bg.png) right top no-repeat;
}

/*.content-main td {*/
    /*border: 1px solid #000;*/
/*}*/

.logo {
    text-align: right;
    padding: 10px 0 0 0;
}

.content {
    font-size: 12px;
    color: #313131;
    padding: 0 20px 0 30px; vertical-align: top;
}

.content p {
    margin: 0 0 40px 0;
    text-align: justify;
}

.content h1 {
    color: #1c56a0;
    font: 24px "Trebuchet MS", Taxoma, serif;
    margin: 0 0 12px 0;
}

.print {
    font: 10px "Trebuchet MS";
    text-align: right!important;
}

.print a {
    color: #1c56a0;
    text-decoration: none;
}

.print img {
    position: relative;
    top: 6px;
}

.print a:hover {
    border-bottom: 1px solid #1c56a0;
}
/******** Content | End ********/

/******** right-bar | Start ********/
.right-bar {
    vertical-align: top; width: 480px;
    padding: 20px 30px 0 0;

}

.right-zag {
    background: url("images/green.png") left top no-repeat;  margin: -67px 0 20px 0;
    z-index: 100; position: relative;
    padding: 20px 0 10px 20px; font: 18px "Trebuchet MS"; color: #1c56a0; text-decoration: underline;
}

.product-main {
    overflow: hidden; margin: 0 25px 20px 0;
}

.product-main img {
    float: left; margin: 0 10px;
}

.product-main h2 {
    font-size: 11px;
    font-weight: bold;
    color: #1c56a0;
}

.product-main h2 a {
    color: #1c56a0;
    border-bottom: 1px solid #1c56a0;
    text-decoration: none;
}

.product-main h2 a:hover {
    border-bottom: none;
}

.product-main p {
    font-size: 10px;
    color: #313131;
    margin: 0 25px 0 191px;
    line-height: 1.1;
}

.all-product {
    font-size: 10px; font-weight: bold; text-align: right;
    color: #1c56a0;
    border-top: 1px solid #c9d7e8 ;
    margin: 0 28px 0 10px;
}

.all-product a {
    color: #1c56a0;
    text-decoration: none;
    border-bottom: 1px solid #1c56a0;
}

.all-product a:hover {
    border-bottom: none;
}

.right-bot {
    background: url(images/bgmapreal.png) right bottom no-repeat;
    vertical-align: bottom;
    padding: 0 30px 0 0;
}

.contact {
    text-align: right; margin: 25px 25px 0 0;
    padding: 0 0 232px 0 ;
    position: relative;
}

.contact h3 {
 font: bold 12px "Trebuchet MS"; color: #1c56a0; margin: 0 10px 10px 0;
 padding: 0 0 0 0;
}

.contact p {
    font-size: 11px; color: #3d3d3d; margin: 20px 0 0 0; line-height:1.2;
}

.contact p span {
    font-size: 12px; font-weight: bold; color:#1c56a0;
}

.contact .contact-mail {
    color: #1c56a0;
    border-bottom: 1px solid #1c56a0;
    text-decoration: none;
}

.contact .contact-mail:hover {
    border-bottom: none;
}

.toper {
    position: absolute; bottom: 6px; right: -15px;
}

.footer {
    background:#eee; overflow: hidden;
}

.atstar {
    float: left; margin: 35px 0 20px 30px;
}

.copy {
    float: left; font-size: 11px;
    color: #6d6e71;
    text-align: right;
    margin: 35px 0 0 30%;
}

.copy a {
    color: #1c56a0;
    text-decoration: none;
    border-bottom: 1px solid #1c56a0;
}

.copy a:hover {
    border-bottom: none;
}

.ftr-link {
    float: right;
    margin: 20px 90px 20px 0;
}

.ftr-link img {
    margin: 0 5px 5px 0;
}










/******** right-bar | End ********/